/* color palatte from coolers */
/* https://coolors.co/palette/89e8e0-6bc7bf-52bbb2-45b4ae-166b67-1b4e4b-778583-a6b3b1 */


body {
    margin: 0;
    box-sizing: border-box;
    background-color: #afb9c8;
    font-family: 'Raleway', sans-serif;
    /* color: whitesmoke; */
    border: black solid 0px;
}


.hide {
    display: none;
}

/* nav */
nav {
    background-color: #899cb8;    
    border: #899cb8 inset 5px;
}

/* container */
/* intro and content are in a column */
.container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: #8b98ab;
}

/* intro */
.intro {
    height: 10vh;
    background-color: #929eb0;
    font-size: 14pt;
    /* display: flex; */
    /* align-items: center;
    text-align: center; */
    
    
}

/* content */
/* inside of content, problems and input are in a row */
.content {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: space-evenly;
}

/* problems */
.topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    min-height: 20vh;
    background-color: #5b90ad;
    color: black;
}


/* input */
.notes {
    width: 20vw;
    min-height: 20vh;
    background-color: #5b90ad;
    color: black;
}

